@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");

body {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.7;
  max-width: 800px;
  margin: 50px auto 50px;
  padding: 0 12px 0;
  height: 100%;
}

canvas {
  display: block;
  margin: auto;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

pre {
  overflow: scroll;
}

h1 {
  text-align: center;
}

.sidebar > ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar > ul > li > ul {
  list-style-type: none;
  padding-left: 24px;
}

/* https://every-layout.dev/layouts/sidebar/ */
.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(32px / 2 * -1);
  align-items: flex-start;
}

.with-sidebar > * > * {
  margin: calc(32px / 2);
  flex-basis: 160px;
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(75% - 32px);
}
